/*Start Main Rules */
body {
    background-color: #F4F4F4;
    font-size: 16px;
} 


/*End Main Rules*/


/*Start Bootstrap Edit*/
.navbar-dark .navbar-brand {
    font-size: 1em;
    margin-right: 0rem;
    color: rgba(255,255,255,.55);
}


.navbar-expand-lg .navbar-nav .nav-link , .navbar-brand  {
    padding: 8px 7px;
}

.navbar-dark .navbar-nav .nav-link:focus,
 .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

/*End Bootstrap Edit*/

/*Start Members Page*/

h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}

/*End Members Page*/

/* Start Edit Form in Members Page*/

/* End Edit Form in Members Page*/
